[Unit]
Description=Media Compressor Job
After=network.target

[Service]
Type=oneshots
ExecStart=/usr/bin/python3 /home/devuser/media/utility/converter/main.py /home/devuser/media/
User=devuser