[Unit]
Description=Media Compressor Job
After=network.target

[Service]
Type=oneshots
ExecStart=/usr/bin/python3 /home/devuser/media/utility/converter/main.py amd /home/devuser/media/
User=devuser
CPUAccounting=true
CPUQuota=80%
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7